.hero-container {
    background-color: #0080FF;
}
.hero-page {
  background: url(../images/background-image.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  
  min-height: 400px;
}

.form-seacrh-hero {
    padding-top: 200px;
}

