/*HEADER*/
html body {
  overflow-x: hidden;
}
.body {
  margin: 0;
}

/*Nav*/
.navbar-brand {
  color: black !important;
  font-size: 28px;
}

.my-nav {
  position: absolute;
  top: 50px;
  width: 100%;
  z-index: 999;
  background: none;
  border: 0;
  border-radius: 0;
}

.my-nav .navbar-nav a {
  color: black !important;
}

.my-nav .navbar-nav .dropdown-menu a {
  color: black !important;
}

.carousel .item {
  height: 670px;
  background-color:#bbb;
}

.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*HERO CONTAINER*/
.hero-container {
    /*background-color: #0080FF;*/
}

.hero-page {
  /*background: url(../images/background-image.jpg) no-repeat center center fixed;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 400px;
}

.form-search-hero {
    padding-top: 200px;
}

.star-rating {
  line-height:32px;
  font-size:1.25em;
  cursor: pointer;
}

/*THUMBNAILS FOR THE PRODUCTS*/
.thumbnail {
    border-bottom: 5px solid #0080FF;
}

/* Small text */
.small-text {
      color: #337ab7;
      font-size: 85%;
}

/*LIST PRODUCTS*/
.btn-actions {
    margin-top: 10px;
}

/* CLIENT REVIEW */
.item-comment {
  margin: 5px;
  padding: 10px;
}

/*FOOTER*/
.footer {
    background-color: #222;
    color: #ccc;
    padding: 10px;
}

.map {
  width:100%;
  height:200px;
  margin-top: 0;
  margin:0;
}

.footer-icons  {
  text-align: center;
}

.footer-icons > a > i {
  font-size: 30px;
  padding: 10px;
}

/*MEDIA QUERIES*/
@media screen and (max-width: 1030px){
  .hidden-element {
    display: none;
  }
  .carousel .item {
    height: 470px;
    width: 100%;
    background-color: black;
  }
  .my-nav .navbar-nav a {
    color: white  !important;
  }
  .my-nav .navbar-nav .dropdown-menu a {
    color: white !important;
  }
  .carousel img {
    width: 100%;
  }
  .carousel-caption {
    display: none;
  }
}
